<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.nick.scorch" >

    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="com.google.android.apps.photos.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_scorch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="DATABASE"
            android:value="scorch.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.dev.nick.scorch" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".players.PlayerDetailActivity"
            android:label="@string/title_activity_player_detail" >
        </activity>
        <activity
            android:name=".teams.TeamNewActivity"
            android:label="@string/title_activity_team_new" >
        </activity>
        <activity
            android:name=".games.GameDetailActivity"
            android:label="@string/title_activity_game_detail" >
        </activity>
        <activity
            android:name=".games.GameNewActivity"
            android:label="@string/title_activity_game_new" >
        </activity>
        <activity
            android:name=".tournaments.TournamentNewActivity"
            android:label="@string/title_activity_tournament_new" >
        </activity>
        <activity
            android:name=".AppPreferences"
            android:label="@string/title_activity_app_preferences" >
        </activity>
    </application>

</manifest>
